.Admin {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
.Admin .break{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 70%;
    flex-wrap: wrap;
 
}
.Admin input{
    width: 20rem;
    height: 2.5rem;
    border: 1px solid rgb(199, 199, 199);
    padding-left: 0.5rem;
    font-size: 0.7rem;
}
.Admin button{
    width: 20rem;
    height: 2.5rem;
    background-color:#FF3E6C ;
    border: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
}
.Admin .radio{
    display: flex;
  
}
.Admin .radio input{
    width: 5.5rem;
    height: 1rem;
   
}
@media (max-width:1000px) {
  
    .Admin .break{
     
        width: 100%;
       
     
    }
}