.Nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    height: 8vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.Nav .instruction{
    display: flex;
    gap: 0.5rem;
}
.Nav  p{
    font-weight: 500;
    font-size: 0.8rem;
    color: rgb(94, 94, 94);;
}
.Nav img{
    height: 50px;
}
.Nav .secure-area{
    display: flex;
align-items: center;
}